<!DOCTYPE html>
<% var pageTitle = 'choose challenge'; %>
<html>
<% include head.html %>

<body>

<div id="challengechooser_dialog" class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
	<% include header_nav.html %>
  
	<main class="mdl-layout__content content">
  		<table class="mdl-data-table mdl-js-data-table">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">please select the challenge you want to play</th>
		    </tr>
		  </thead>
		  <tbody>
		    <%- challengelist%>
		  </tbody>
		</table>
   </main>
</div>

</body>

</html> 