<!DOCTYPE html>
<% var pageTitle = 'highscore'; %>
<html>
<% include head.html %>

<body>

<div id="highscore_dialog" class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
	<% include header_nav.html %>
	
	<main class="mdl-layout__content content">
		<table class="mdl-data-table mdl-js-data-table toptentable">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--numeric">rank</th>
		      <th class="mdl-data-table__cell--non-numeric" colspan="2">player</th>
		      <th class="mdl-data-table__cell--numeric">score</th>
		      <th class="mdl-data-table__cell--numeric">completed</th>
		    </tr>
		  </thead>
		  <tbody>
			<%- toptentable%>
		  </tbody>
		</table>
	</main>
</div>


</body>

</html> 