<!DOCTYPE html>
<% var pageTitle = 'highscore'; %>
<html>
<% include head.html %>

<body>

<div id="badge_dialog" class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
	<% include header_nav.html %>
	
	<main>
		<table class="mdl-data-table mdl-js-data-table">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">Name</th>
		      <th>Age</th>
		      <th>ID Number</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td class="mdl-data-table__cell--non-numeric">Don Aubrey</td>
		      <td>25</td>
		      <td>49021</td>
		    </tr>
		  </tbody>
		</table>
	</main>
</div>


</body>

</html> 