<!DOCTYPE html>
<% var pageTitle = 'rad1o'; %>
<html>
<% include head.html %>

<body>

<div id="index_dialog" class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
	<% include header_nav.html %>
  
	<main class="content">
		<div style="font-size: 1.8em;">
			hello <%= nickname%> and welcome to the rad1o challenges
		</div>
		<br/>
		<br/>
		<p>
			please select something from the menu
		</p>
		<p>
			please do not try to hack the server. you would most certainly succeed and destroy the fun for all the other players.
			also, please be fair and do not try to exploit the game.		
		</p>
		<p>
			it may happen that you loose the connection or we have to restart the server.
			if that is the case, just log in again by clicking on menu > home and resubmit your answer.
		</p>
		<p>
			we will tell you the right answers and announce the winner at the evening of day 4.
		</p>
  	</main>
</div>


</body>

</html> 