<!DOCTYPE html>
<% var pageTitle = 'login with your badge'; %>
<html>
<% include head.html %>

<body>

<div id="badge_dialog" class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
	<% include header_nav.html %>
  
	<main class="mdl-layout__content content">
	<div>
		<p>
		Here you can register your badge, so you will be able to participate to our challenges. Please enter the following data:
		</p>

		<form action="login" method="post" name="login">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" name="badge_id" value="<%= badge_id%>" />
				<label class="mdl-textfield__label" for="badge_id">badge id</label>
			</div>
			<br />
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" name="badge_key" value="<%= badge_key%>" />
				<label class="mdl-textfield__label" for="badge_key">badge secret key</label>
			</div>
			
			<div class="mdl-card__actions">
				<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
					type="submit" id="login_send" value="login" />
			</div>
		</form>
	</div>
	</main>
</div>


</body>

</html> 